<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Example Controller</title>
    <script src="../../script/angular.min.js"></script>
    <script src="../../script/ExmController.js"></script>
</head>
<body ng-app="IG">
<div ng-controller="firstController">
    <p>Simplest Adding Machine Ever</p>
    <button ng-click="add(1)" class="button">Increase</button>
    <button ng-click="sub(1)" class="button alert">Decrease</button>
<h4>Current Count{{counter}}</h4>
</div>
</body>
</html>