
<div id="popUP" class="modal-body">
{{item}}
    <table style="margin-top: 5px;width: 100%">
        <tr style="height: 20px;">
            <th style="padding-left: 10px;width: 140px;">
                Medicine Name
            </th>
            <th style="width: 140px;">
                Prescribed Quantity
            </th>
            <th style="width: 140px;">
                MRP
            </th>
            <th style="width: 140px;">
                Discount
            </th>
            <th style="width: 140px;">
                Amount
            </th>
        </tr>
    </table>
    <div><table style="margin-top: 5px;width: 100%">
        <tr id="tab1" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>
    <div id="div1" style="display: none"><table style="margin-top: 5px;width: 100%">
        <tr id="tab2" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>
    <div id="div2" style="display: none"><table style="margin-top: 5px;width: 100%">
        <tr id="tab3" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>
    <div id="div3" style="display: none"><table style="margin-top: 5px;width: 100%">
        <tr id="tab4" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>
    <div id="div4" style="display: none"><table style="margin-top: 5px;width: 100%">
        <tr id="tab5" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>
    <div id="div5" style="display: none"><table style="margin-top: 5px;width: 100%">
        <tr id="tab6" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>
    <div id="div6" style="display: none"><table style="margin-top: 5px;width: 100%">
        <tr id="tab7" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>
    <div id="div7" style="display: none"><table style="margin-top: 5px;width: 100%">
        <tr id="tab8" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>
    <div id="div8" style="display: none"><table style="margin-top: 5px;width: 100%">
        <tr id="tab9" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>
    <div id="div9" style="display: none"><table style="margin-top: 5px;width: 100%">
        <tr id="tab10" style="height: 20px;">
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
            <td>
                <input style="width: 120px;" type="text" value=""/>
            </td>
        </tr>
    </table></div>

    <div style="padding-right: 20px;float: right;"><a id="btnAddMore" ng-click="addMore()">Add More</a></div>
    <br>
    <div style="padding-right: 150px;float: right;">Total Amount : {{TotalAmount}}</div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>